{# templates/admin.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block body %}
<body>
    <div class="container">
        <h2 class="text-center mt-4">Documents: </h2>
        <div class="d-flex justify-content-center align-items-center vh-50">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Type Document</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>

                         <td>{{ document.id }}</td>
                            <td>{{ document.nom }}</td>
                            <td>{{ document.prenom }}</td>
                            <td>{{ document.email }}</td>
                            <td>{{ document.typeDocuments }}</td>
                           
        
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
