{# templates/contact.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
     <style>
         .contact-section {
            max-width: 600px;
            margin: auto;
            border: 2px solid #000;
            border-radius: 10px;
            background-color: #f2f2f2; /* Ajoutez votre couleur de fond grise claire */
            padding: 20px; /* Ajoutez un remplissage pour l'espace intérieur */
        }
    </style>
{% endblock %}

{% block body %}
 <h1 class="text-center">NOUS CONTACTER</h1>
                <div class="d-flex justify-content-center pt-5">
                    <div>
                        <i class="bi bi-envelope-fill"></i>
                        contact@polytecsousse.tn
                    </div>
                    <div>
                        <i class="bi bi-phone-fill"></i>
                        (+216) 99 277 877
                    </div>
                    <div>
                        <i class="bi bi-phone-fill"></i>
                        (+216) 96 277 878
                    </div>
                    <div>
                        <i class="bi bi-phone-fill"></i>
                        (+216) 92 277 807
                    </div>
                </div>
            </div>
   <div class="d-flex justify-content-center p-5 contact-section" id="contactBg">
       
            <div class="mt-5">
                <h2 class="text-center">Formulaire de Contact</h2>
                    {{ form_start(contactForm) }}
                    {{ form_row(contactForm.nom, { 'label': 'Nom' }) }}
                    {{ form_row(contactForm.prenom, { 'label': 'Prénom' }) }}
                    {{ form_row(contactForm.email, { 'label': 'Email' }) }}
                    {{ form_row(contactForm.message, { 'label': 'Message' }) }}

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    {{ form_end(contactForm) }}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center p-5">
        <h1>LOCALISATION:</h1>
    </div>
    <div class="d-flex justify-content-center p-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.926904427248!2d10.586691715194842!3d35.826269080160785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8b3a0237010f%3A0x4418fc1f1a3cb73f!2sPolytechnique%20Sousse!5e0!3m2!1sfr!2stn!4v1671541950030!5m2!1sfr!2stn" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{% endblock %}
