{# header.html.twig #}

<nav class="navbar navbar-expand-lg" style="background-color: #add8e6; color: #000000;">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_main')}}">
      <img src="{{ asset('assets/polylogo2.png') }}" alt="Polylogo" style="height: 70px; margin-left: 20px;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_main')}}">Acceuil</a>
        </li>
        {% if not is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact_new')}}">Contact</a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_contact')}}">Contact</a>
        </li>
        {% endif %}
        {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documents
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if is_granted('ROLE_ADMIN') %}
              <li><a class="dropdown-item" href="{{ path('admin_certifications_index')}}">Certifications</a></li>
              <li><a class="dropdown-item" href="{{ path('admin_stages_index')}}">Offres Des Stages</a></li>
              <li><a class="dropdown-item" href="{{ path('admin_document')}}">Documents</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{{ path('stage')}}">Offres Des Stages</a></li>
            <li><a class="dropdown-item" href="{{ path('certifications')}}">Certification</a></li>
            {% endif %}
          {% if not is_granted('ROLE_ADMIN') %}
            <li><a class="dropdown-item" href="{{ path('documents_new')}}">Document</a></li>
          {% endif %}
          </ul>
          {% endif %}
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}" style="color: #000000; border: 1px solid orange; border-radius: 4px; padding: 8px;">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login')}}" style="color: #000000; border: 1px solid orange; border-radius: 4px; padding: 8px;">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}" style="color: #000000; border: 1px solid orange; border-radius: 4px; padding: 8px;">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
